man-pages/*.3
tcr/*.o
tests/*.o
*.swp

Makefile
autom4te.cache/
config.log
config.status
configure
documentation/
tcr/Makefile
tcr/config.h
tcr/config.in
tcr/libtcr.a
tests/Makefile
tests/aio-test
tests/1tc_2events
tests/aio-test
tests/epoll-no-OUT
tests/leak_test
tests/leak_test2
tests/main
tests/mutex_signal
tests/one-thread-many-events
tests/parallel_for
tests/pipelined-server
tests/rwlock_test
tests/spinlock_test
tests/tc_mutex_test1
tests/tc_mutex_test2
tests/tc_mutex_test3
tests/tc_rwlock_signal_test
tests/tc_sleep_test
tests/tc_thread_dump
tests/tc_wait_fd
tests/tc_waitfd-both-directions
tests/tc_waitfd-both-dirs
tests/tc_waitfd-close
tests/tc_wait_fd-roundrobin
tests/tc_waitq_test
tests/tc_waitq_test2
tests/tc_waitq_test3
tests/tc_waitq_test5
tests/unix_signal
tests/yield_test
tests/yield_test1
tests/new_thread_worker_event
tests/one-thread-two-events
tests/tc_wait_fd2
tests/unexpected_event
tests/waitq_race
tests/waitq_race2
tests/*.txt
