man-pages/*.3
tcr/*.o
*.swp

Makefile
autom4te.cache/
config.log
config.status
configure
documentation/
tcr/Makefile
tcr/config.h
tcr/config.in
tcr/libtcr.a
tests/Makefile
tests/leak_test
tests/leak_test2
tests/main
tests/parallel_for
tests/pipelined-server
tests/tc_mutex_test1
tests/tc_mutex_test2
tests/tc_thread_dump
tests/tc_waitq_test
tests/tc_waitq_test2
tests/tc_waitq_test3
tests/tc_waitq_test5
tests/unix_signal
tests/yield_test
tests/yield_test1
